.blog {
  &__profile {
    width: 5rem;
    height: 5rem;
  }
  &__content {
    color: #828282;
    line-height: 4rem;
    text-align: justify;
  }
  &__author {
    width: 3rem;
    height: 3rem;
    &-description{
      line-height: 2.5rem
    }
  }
}
